    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="foot">
                    <p>This website is basically made using express and node js behind the scene and so other dependecies. I have put the whole project on github, If you are curious to know more about it, please check it out on the github</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">Made by <a href="#">Zonayed Ahmed</a></li>
                        <li class="list-inline-item">Node JS</li>
                        <li class="list-inline-item">Express JS</li>
                        <li class="list-inline-item">Github Star</li>
                        <li class="list-inline-item">Github Follow</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
