<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel= "stylesheet" href="../stylesheets/main.css"></link>
    <title>Express Simple Website - zonayedpca</title>
  </head>
  <body>

  <header class="intro-area">
      <div class="container">
          <div class="row">
              <div class="intro-text">
                  <h2>Basic Express Website</h2>
                  <p>This website is made to demonstrate the various usage of Express JS. I have used some other related packages to complete the system properly. You are requested to take a look and give your valuable feedback through my github repository. Any kind of advice, suggestions, complain and so other things are expected. I am looking forward to your feedback</p>
              </div>
          </div>
      </div>
  </header>
  <section class="nav-area">
      <div class="container">
          <nav class="navbar navbar-light navbar-expand-lg bg-light">
              <a class="navbar-brand" href="/">Basic Express</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/about">About Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/blog">Blog</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact Us</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </section>
