<% include ./partials/header %>
<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="contents">
                <div class="row">
                  <div class="col-md-12">
                    <div class="page-head">
                      <h1>A About page is shown here</h1>
                    </div>
                    <div class="page-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque excepturi, nihil eius. Facilis necessitatibus voluptatum ratione a est, repellat! Fugiat eius asperiores doloribus similique quae quos, reiciendis quibusdam. Perferendis, voluptate.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer %>
