<% include ./partials/header %>
<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="contents">
                <div class="row">
                  <div class="col-md-12">
                    <div class="page-head">
                      <h1>About Page Route</h1>
                    </div>
                    <div class="page-content">
                      <p>This page demonstrate how routes work in Express and so other things</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste iure laboriosam deserunt mollitia ullam necessitatibus corporis labore tempora saepe illum error nostrum, enim accusamus. Nihil fugiat totam porro provident iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit perferendis unde, officia nostrum laborum eius vero quae sed odio, nemo optio saepe deserunt nisi quibusdam doloribus porro exercitationem non eaque!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum eum debitis sunt, dolorum, commodi dolor dolorem nemo voluptatum molestiae laboriosam, saepe sequi! Perspiciatis neque consequatur, odio soluta voluptate, quaerat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi sint sed nesciunt, facilis soluta minima, recusandae impedit ullam voluptatem quod ut veritatis eos eius! Ab tempore, labore at quae numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae sapiente hic similique quaerat doloremque consequuntur repellat dicta dignissimos omnis alias, harum voluptatum vel, architecto, ad, aperiam nihil sed eveniet expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto veniam tempora eos, fuga voluptate sed eius voluptatibus ducimus accusantium quibusdam ut, aliquid minus debitis sapiente, autem eligendi provident in ipsa!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate, voluptatum aliquam ipsum voluptate atque quae rerum velit doloribus assumenda harum, id ab unde delectus doloremque enim optio minus modi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque excepturi, nihil eius. Facilis necessitatibus voluptatum ratione a est, repellat! Fugiat eius asperiores doloribus similique quae quos, reiciendis quibusdam. Perferendis, voluptate.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer %>
