<% include ./partials/header %>
<section class="content-area">
    <div class="container">
        <div class="row">
            <div class="contents">
                <div class="row">
                  <div class="col-md-12">
                    <div class="page-head">
                      <h1>Welcome to Homepage</h1>
                    </div>
                    <div class="page-content">
                      <p>This is just a Simple Homepage showing some texts and also routes to other pages</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam itaque dicta, quo, modi ab illum distinctio dignissimos dolor, rem veritatis adipisci eum quas alias dolorum nemo quod. Repellendus possimus, totam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt delectus quis doloremque, dolorum eveniet eum vitae iusto recusandae illo temporibus earum officiis debitis, corporis vero quod quia, rem labore!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eaque beatae ea aliquam, quis veniam. Blanditiis dignissimos impedit dolor, doloremque rerum. Ex eum pariatur vel consequatur architecto, culpa fuga consectetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem tempora, minima ad. Quae impedit vero, accusamus qui sapiente voluptates veritatis reprehenderit quibusdam, eveniet in consequatur veniam. Facilis hic nam officia?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis rem ducimus iste, pariatur quam odio dolore, optio reprehenderit aliquid hic libero laborum esse natus odit atque sequi repellendus minus, nesciunt!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi a fuga corrupti eveniet nesciunt incidunt dolorem quidem provident, consequuntur ad. Veritatis, explicabo. Eaque ratione odio fuga eligendi velit alias consectetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis odit voluptas dolores autem, maiores minima quis magnam numquam eaque quas, in harum a illum tempore expedita debitis esse blanditiis iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque excepturi, nihil eius. Facilis necessitatibus voluptatum ratione a est, repellat! Fugiat eius asperiores doloribus similique quae quos, reiciendis quibusdam. Perferendis, voluptate.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer %>
